<?xml version='1.0'?>
<model>
  <name>vessel_c</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
    <name>Luca Barbieri</name>
    <email>emailprogramming02@gmail.com</email>
  </author>

  <author>
    <name>Lorenzo Graceffa</name>
    <email>graceffalorenzo@gmail.com</email>
  </author>

  <description>
    Vessel C.
  </description>
</model>
