<?xml version="1.0"?>
<model>
  <name>mb_round_buoy_black</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Luca Barbieri</name>
    <email>emailprogramming02@gmail.com</email>
  </author>

  <author>
    <name>Lorenzo Graceffa</name>
    <email>graceffalorenzo@gmail.com</email>
  </author>
  <description>
    A black round buoy.
  </description>
</model>
