<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>male</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Luca Barbieri</name>
    <email>emailprogramming02@gmail.com</email>
  </author>

  <author>
    <name>Lorenzo Graceffa</name>
    <email>graceffalorenzo@gmail.com</email>
  </author>

  <description>
    A man wearing purple shirt, looking at his phone.
  </description>
</model>