<?xml version="1.0"?>
<model>
  <name>dock_block</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Luca Barbieri</name>
    <email>emailprogramming02@gmail.com</email>
  </author>

  <author>
    <name>Lorenzo Graceffa</name>
    <email>graceffalorenzo@gmail.com</email>
  </author>

  <description>
    A 4x4 piece for creating floating docks.
    See http://www.jetdock.com/products/conventional-floating-walkway.asp
  </description>
</model>
