<?xml version="1.0"?>
<model>
  <name>wamv</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <urdf>model.xacro</urdf>
  
  <author>
    <name>Luca Barbieri</name>
    <email>emailprogramming02@gmail.com</email>
  </author>

  <author>
    <name>Lorenzo Graceffa</name>
    <email>graceffalorenzo@gmail.com</email>
  </author>

  <description>
    A WAM-V platform.
  </description>
</model>
