<?xml version="1.0"?>
<model>
  <name>mb_round_buoy_orange</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Luca Barbieri</name>
    <email>emailprogramming02@gmail.com</email>
  </author>

  <author>
    <name>Lorenzo Graceffa</name>
    <email>graceffalorenzo@gmail.com</email>
  </author>

  <description>
    A round buoy for the RobotX 2022 competition.
    Reference: https://marinebuoysaustralia.com/products/
  </description>
</model>
